.DS_Store
.swp
.swo
.sw?
*.tif
node_modules
final-project/foundation-6.2.4-complete
eighth-assignment/imgs/walldrawing1.png
eighth-assignment/imgs/walldrawing2.png
eighth-assignment/imgs/walldrawing3.png
eighth-assignment/imgs/walldrawing.png
